@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

.markdown-preview-view .internal-embed img {
	cursor:zoom-in;}

.markdown-preview-view .internal-embed img:active {
	cursor:zoom-out;
	display:block;
	z-index:100;
	position:fixed;
    max-height:100%;
    max-width:100%;
    height:100%;
    width:100%;
    object-fit: contain;
    margin:0 auto;
    text-align:center;
    top: 50%;
  	transform: translateY(-50%);
    padding:0;
    left:0;
    right:0;
    bottom:0;
    background:var(--background-primary);}


:root
{
    --font-size-normal:              16px;
    --font-size-code:                14px;
    --font-size-side-dock:           14px;
    --font-size-side-dock-title:     15px;
    --font-size-status-bar:          12px;
    --font-size-h1:                  28px;
    --font-size-h2:                  26px;
    --font-size-h3:                  25px;
    --font-size-h4:                  22px;
    --font-size-h5:                  20px;
    --font-size-h6:                  18px;
    --font-family-editor:            Inter, sans-serif;
    --font-family-preview:           Inter, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
} 

.page-header {
    font-weight: 300;
}

.publish-article-heading {
    display: none;
}

.theme-dark {
    --background-primary: #202020;
    --background-primary-alt: #1a1a1a;
    --background-secondary: #161616;
    --background-secondary-alt: #000000;
    --background-modifier-border: #333;
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: #197300;
    --background-modifier-error: #3d0000;
    --background-modifier-error-rgb: 61, 0, 0;
    --background-modifier-error-hover: #470000;
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --text-accent: #a5a6a7;
    --text-accent-hover: #dcddde;
    --text-normal: #dcddde;
    --text-muted: #999;
    --text-muted-rgb: 153, 153, 153;
    --text-faint: #666;
    --text-error: #ff3333;
    --text-error-hover: #990000;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: rgba(23, 48, 77, 0.99);
    --text-on-accent: #dcddde;
    --interactive-normal: #2a2a2a;
    --interactive-hover: #303030;
    --interactive-accent: #e60015;
    --interactive-accent-rgb: 72, 54, 153;
    --interactive-accent-hover: #e60015;
    --interactive-success: #197300;
    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --highlight-mix-blend-mode: lighten;